<mat-toolbar class="custom-toolbar">
  <mat-toolbar-row>
    <span class="header-title">Enter Your Details</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="signupForm">
    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
        <mat-error
          *ngIf="
            signupForm.controls.name.touched && signupForm.controls.name.invalid
          "
        >
          <span *ngIf="signupForm.controls.name.errors.required">
            Please enter name
          </span>
          <span *ngIf="signupForm.controls.name.errors.pattern">
            Please enter a valid name
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email Id</mat-label>
        <input matInput formControlName="email" required />
        <mat-error
          *ngIf="
            signupForm.controls.email.touched &&
            signupForm.controls.email.invalid
          "
        >
          <span *ngIf="signupForm.controls.email.errors.required">
            Please enter email
          </span>
          <span *ngIf="signupForm.controls.email.errors.pattern">
            Please enter a valid email
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contact Number</mat-label>
        <input matInput formControlName="mobile" type="number" required />
        <mat-error
          *ngIf="
            signupForm.controls.mobile.touched &&
            signupForm.controls.mobile.invalid
          "
        >
          <span *ngIf="signupForm.controls.mobile.errors.required">
            Please enter contact number
          </span>
          <span *ngIf="signupForm.controls.mobile.errors.pattern">
            Please enter a valid contact number
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          required
          [type]="password ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="password = !password"
        >
          <mat-icon>{{ password ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            signupForm.controls.password.touched &&
            signupForm.controls.password.invalid
          "
        >
          <span *ngIf="signupForm.controls.password.errors.required">
            Please enter Password
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          type="password"
          required
          [type]="confirmPassword ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="confirmPassword = !confirmPassword"
        >
          <mat-icon>{{
            confirmPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            signupForm.controls.confirmPassword.touched &&
            signupForm.controls.confirmPassword.invalid
          "
        >
          <span *ngIf="signupForm.controls.confirmPassword.errors.required">
            Please enter Password again
          </span>
        </mat-error>
        <mat-hint
          *ngIf="
            validateSubmit() && !signupForm.controls.confirmPassword.invalid
          "
        >
          <span>Passwords do not match</span>
        </mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button
    mat-raised-button
    class="submitButton"
    type="submit"
    [disabled]="validateSubmit() || !(signupForm.valid && signupForm.dirty)"
    (click)="onSubmit()"
  >
    Register
  </button>
  <!-- <button mat-raised-button class="cancelButton" mat-dialog-close>
    Cancel
  </button> -->
</mat-dialog-actions>
