//Colors
$header-primary-color: rgb(250, 225, 170); //Header yellow
$header-secondary-color: #744c4e; // Header brown
$card: rgb(246, 236, 215); //Header yellow
$side-bar: #a97373;
$success-color: #33570b; // Submit button color
$error-color: #e64034; // Cancel button color

//Fonts
$font-primary: 'Arial', 'sans-serif';
$font-secondary: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';

//Gradient
$gradient-primary:linear-gradient(to bottom, #edede7, #e3d6d6);

//Radius 
$radius:20px;

//Show
$box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

//Header height
$header:100px;
$header-mobile:80px;
