<div class="dashboard-container">
  <div class="welcome-text">
    <div class="welcome-left">Welcome {{ firstName }},</div>

    <div class="button-container">
      <div class="dropdown">
        <button mat-button class="menu-button" (click)="toggleDropdown()">
          <mat-icon>menu</mat-icon> Home
        </button>
        <div class="dropdown-content" *ngIf="isDropdownOpen">
          <button
            class="dropdown-item"
            (click)="showProfile(); closeDropdown()"
          >
            View Profile
          </button>
          <button
            class="dropdown-item"
            (click)="showAppointments(); closeDropdown()"
          >
            My Appointments
          </button>
        </div>
      </div>
      <!-- <button mat-raised-button class="profile-button" (click)="showProfile()">
        View Profile
      </button>
      <button
        mat-raised-button
        class="appointment-button"
        (click)="showAppointments()"
      >
        My Appointments
      </button> -->
    </div>
  </div>
  <div class="card-container">
    <!-- Profile Card -->
    <mat-card *ngIf="isProfileVisible" class="profile-card">
      <mat-card-header class="card-header">
        <mat-icon>account_circle</mat-icon>
        Profile
      </mat-card-header>
      <mat-card-content class="profile-content">
        <div class="info-row">
          <label>Full Name:</label>
          <span>{{ userDetails?.name }}</span>
        </div>
        <div class="info-row">
          <label>Email:</label>
          <span>{{ userDetails?.email }}</span>
        </div>
        <div class="info-row">
          <label>Contact No:</label>

          <!--<ng-container> is an Angular element that acts as a wrapper but does not render an actual HTML element in the DOM. 
              It is used to apply structural directives like *ngIf without adding extra elements (such as <div>, <span>, etc.).
                 In this case, it holds the content that will be displayed when isEditingMobile is true.-->
          <ng-container *ngIf="isEditingMobile; else viewMobile">
            <!-- Input field for editing mobile number  -->
            <div class="mobile-field-input-box-parent">
              <div class="mobile-field-input-box">
                <input
                  [(ngModel)]="tempMobile"
                  class="mobile-input"
                  #mobileInput="ngModel"
                  placeholder="New contact number"
                  required
                  pattern="^[0-9]{10}$"
                  type="number"
                />

                <button
                  *ngIf="!mobileInput.invalid"
                  class="icon-button"
                  (click)="saveMobile()"
                >
                  <mat-icon>check</mat-icon>
                </button>
                <button class="icon-button" (click)="cancelEdit()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <div
                *ngIf="
                  mobileInput.invalid &&
                  (mobileInput.dirty || mobileInput.touched)
                "
                class="error"
              >
                <span *ngIf="mobileInput.errors?.['required']"
                  >Contact number is required</span
                >
                <span *ngIf="mobileInput.errors?.['pattern']"
                  >Please enter a valid contact number</span
                >
              </div>
            </div>
          </ng-container>
          <!--<ng-template> element is used to define a template that is not rendered in the DOM immediately
               but can be conditionally rendered or reused later-->
          <ng-template #viewMobile>
            <div class="mobile-field">
              {{ userDetails?.mobile }}
              <button class="icon-button" (click)="editMobile()">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </ng-template>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Appointments Card -->
    <mat-card *ngIf="isAppointmentsVisible" class="appointments-card">
      <mat-card-header class="card-header">
        <mat-icon>event_note</mat-icon>
        Appointments
      </mat-card-header>

      <mat-card-content>
        <div
          class="card-subtitle"
          [ngClass]="{
            'subtitle-active': isFutureAppointments,
            'subtitle-inactive': !isFutureAppointments
          }"
          (click)="toggleFutureAppointments()"
        >
          Upcoming Appointments
        </div>
        <div *ngIf="isFutureAppointments">
          <div
            *ngIf="upcomingAppointments.length == 0"
            class="appointment_card_no_items"
          >
            No upcoming appointments
          </div>
          <div *ngIf="!(upcomingAppointments.length == 0)">
            <div
              class="appointment_card"
              *ngFor="let appointment of upcomingAppointments"
            >
              <mat-card class="appointment-details">
                <div class="info-row">
                  <label>Date:</label>
                  <span>{{ appointment.date }}</span>
                </div>
                <div class="info-row">
                  <label>Doctor:</label>
                  <span>{{ appointment.doctorName }}</span>
                </div>
                <div class="info-row">
                  <label>Department:</label>
                  <span>{{ appointment.departmentName }}</span>
                </div>

                <div class="info-row">
                  <label>Slot:</label>
                  <span>{{ appointment.slotId | slotName }}</span>
                </div>
                <button
                  mat-raised-button
                  class="cancel-button"
                  (click)="cancelAppointment(appointment.appointmentId)"
                >
                  Cancel
                </button>
              </mat-card>
            </div>
          </div>
        </div>
        <div
          class="card-subtitle"
          [ngClass]="{
            'subtitle-active': isPastAppointments,
            'subtitle-inactive': !isPastAppointments
          }"
          (click)="togglePastAppointments()"
        >
          Past Appointments
        </div>
        <div *ngIf="isPastAppointments">
          <div
            *ngIf="pastAppointments.length == 0"
            class="appointment_card_no_items"
          >
            No past appointments
          </div>
          <div *ngIf="!(pastAppointments.length == 0)">
            <div
              class="appointment_card"
              *ngFor="let appointment of pastAppointments"
            >
              <mat-card class="appointment-details">
                <div class="info-row">
                  <label>Date:</label>
                  <span>{{ appointment.date }}</span>
                </div>
                <div class="info-row">
                  <label>Doctor:</label>
                  <span>{{ appointment.doctorName }}</span>
                </div>
                <div class="info-row">
                  <label>Department:</label>
                  <span>{{ appointment.departmentName }}</span>
                </div>

                <!-- <div class="info-row">
                  <label>Slot:</label>
                  <span>{{ appointment.slotId | slotName }}</span>
                </div> -->
                <!-- <button
              mat-raised-button
              class="cancel-button"
              (click)="cancelAppointment(appointment.appointmentId)"
            >
              Cancel
            </button> -->
              </mat-card>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
